root = true

[*.cs]
charset = utf-8-bom
indent_style = space
indent_size = 4
dotnet_diagnostic.SA1600.severity = warning    # требовать XML‑комментарии
dotnet_diagnostic.SA1200.severity = warning    # упорядочивание using-ов
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1028.severity = none